# Python virtual environment
env/
venv/

# Python cache
__pycache__/
*.pyc

# Data files
*.csv
*.tsv
*.zip

# Model files
*.h5
*.pkl
*.joblib

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
